# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        sphinx-version: ["", "4.5", "4.4", "4.3", "4.2", "4.1", "4.0.*", "3.5.*", "3.4.*", "3.2.*",  "3.1.*", "3.0.*"]
        include:
          - python-version: "3.10"
            sphinx-version: ""
          - python-version: "3.10"
            sphinx-version: "4.5"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install dependencies
      env:
        SPHINX_VERSION: ${{ matrix.sphinx-version }}
      run: |
        python -m pip install --upgrade pip
        SPHINX=Sphinx
        JINJA2=jinja2
        if [[ $SPHINX_VERSION != "" ]]; then
          SPHINX="${SPHINX}==${SPHINX_VERSION}";
          JINJA2="${JINJA2}<3.1";
        fi
        pip install pytest pytest-cov codecov "${SPHINX}" "${JINJA2}" beautifulsoup4 -e .
    - name: Test with pytest
      run: |
        pytest --cov=autodocsumm --cov-report=xml tests
    - name: Upload codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        codecov
